* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    font-family: "Courier New", Courier, monospace;
}

nav {
    width: 100%;
    height: auto;
    position: relative;
}

nav img {
    width: 7rem;
    height: 7rem;
}

nav .anchors {
    width: 20rem;
    display: inline;
    margin-left: 28rem;
    position: absolute;
    top: 40%;
    left: 42%;
}

nav a {
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    width: 100vw;
    height: 100vh;
    display: inline-block;
}

main .leftContainer {
    width: 40%;
    display: inline-block;
    height: auto;
    text-align: center;
    position: relative;
}

.leftContainer div {
    width: 70%;
    height: 5rem;
    display: inline-block;
    background-color: thistle;
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 3rem;
    padding-top: 2rem;
}

main .middleContainer {
    width: 55%;
    display: inline-block;
    height: 100%;
}

main .middleContainer p {
    width: 100%;
}